/*------------实践经历------------*/
		*{
			margin:0;
			padding:0;
		}
		li{
			list-style: none;
		}
		#experience{
			background: #aaaaaa;
		}
		.time-line{
			width:920px;
			margin-top: 50px;
			/*margin:20px auto;*/
			position: relative;
			margin-left: 80px;
		}
		/*左右按钮的形状*/
		.time-line .left-btn i.fa,.time-line .right-btn i.fa{
			width: 30px;
			height: 30px;
			font-size: 30px;
			position: absolute;
			margin-top:-18px;
			cursor: pointer;
		}
		.time-line .left-btn i.fa{
			left:0;
			top:50%;
		}
		.time-line .right-btn i.fa{
			right:0;
			top:50%;
		}
		/*左右按钮hover效果*/
		.time-line .right-btn i.fa:hover{
			color: #008867;
		}
		.time-line .left-btn i.fa:hover{
			color: #008867;
		}
		/*整个时间轴*/
		.time-line .time-box{
			width: 840px;
			margin: 0 auto;
			overflow: hidden;

		}
		.time-line .time-box ul{
			overflow: hidden;/*隐藏剩余的内容*/
			position: relative;
			height: 390px;
		}
		/*轴*/
		.time-line .time-box ul:after{
			content: "";
			background: #d2d2d2;
			height: 1px;
			width: 100%;
			position: absolute;
			left:0;
			top:50%;
		}
		/*每个box*/
		.time-line .time-box li{
			width:210px;
			height: 142px;
			float: left;
			padding: 10px;
			box-sizing: border-box;
			border: 1px solid #d2d2d2;
			position: relative; 
			cursor: pointer;
			margin-top: 15px;
			border-radius: 10px;
		}
		/*父元素的2的偶数倍的li元素样式*/
		.time-line .time-box li:nth-child(2n){
			margin-top: 233px;
		}
		/*所有li元素的前面插入内容 即三角指向*/
		.time-line .time-box li:before{
			content: "";
			border-left: 1px solid #fff;
			border-bottom: 1px solid #fff;
			position: absolute;
			width: 16px;
			height: 16px;
			background: #aaaaaa;   
			bottom: -9px; 
			transform: rotate(-45deg);
			left: 50%;
			margin-left: -8px;
		}
		/*空心圆 绝对定位到固定位置，*/
		.time-line .time-box li:after{
			content: "";
			width: 15px;
			height: 15px;
			background: url(img/point.png) no-repeat;
			position: absolute;
			left:50%;
			margin-left:-7px;
			bottom: 0;    
			bottom: -48px; 
			z-index: 1;
		}
		/*三角指向在2n处的位置*/
		.time-line .time-box li:nth-child(2n):before{
			bottom: auto;
			top: -10px;
			transform: rotate(-225deg);
		}
		/*空心圆在2n处的位置*/
		.time-line .time-box li:nth-child(2n):after{
			bottom: auto;
			top:-46px;
		}
		/*hover时改变背景色*/
		.time-line .time-box li:hover,.time-line .time-box li.active{
			background: #008867;
			color:#fff;
			border-color: #008867;
		}
		/*三角指向hover 时的颜色*/
		.time-line .time-box li:hover:before,.time-line .time-box li.active:before{
			border-color: #008867;
			background: #008867;
		}
		/*空心圆的hover样式*/
		.time-line .time-box li:hover:after,.time-line .time-box li.active:after{
			background: url(img/point-hover.png) no-repeat;
		}