/*------------导航样式-----------*/
.navbar{
	background-color: black ;
    margin-bottom: 0px;
}
.navbar-nav{
    float: left;
    width: 800px;
}
.navbar-brand{
    font-size:20px;
    font-weight: 800;
    margin-right: 500px;
}
.navbar-toggler{
    padding-left: 300px;
    margin-top: 8px;
    margin-right: 15px;
}
.menu{
    padding: 10px;
    font-size:14px;
    font-weight: 800;
}
a{
    color: #AAAAAA;
}
a:hover, a:focus {
	text-decoration: none;
	color: #008867;
}

/*-----------第一块样式----------*/
.intro {
   display: table;/*块级表格*/
   width: 100%;
   height: 900px;
   padding: 100px 0;
   text-align: center;
   color: #fff;
   background: url(intro-bg.jpg) no-repeat bottom center;
   background-color: #000;
   background-size: cover;/*扩展背景图片足够大，覆盖背景区域*/
   -webkit-background-size: cover;/*多浏览器兼容*/
   -moz-background-size: cover;
   -o-background-size: cover;
}
.intro .intro-body {
    display: table-cell;/*表格单元格*/
    vertical-align: middle;/*放在父元素的中部*/
}
.intro .intro-body .brand-heading {
    color: #008867;/*绿色*/
    letter-spacing: -2px;/*字符间的固定间隔*/
}
.intro .intro-body H1 {
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -2px;
}
.intro .intro-body .intro-text{
    font-size:20px;
    letter-spacing: 8px;
    margin-top: 40px;
}
.btn-circle{
	width: 70px;
	height: 70px;
	font-size: 40px;
	border-radius: 100% !important;
	border:2px solid rgba(255,255,255,.2);
	color: #008867;
	background: 0 0;
	margin-top: 100px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.btn-circle:hover{
	color: #008867;
	background:rgba(255,255,255,.1);
}

/*---------------基本资料------------- */
.row{
	margin-bottom: 10px;
}
.title h2{
	padding: 50px 0 10px 0;

}
.information h4{
	color: #008867;
}
hr{
	width:70px;
	height: 3px;
	background: #008867;
	position: relative;
	border-top:none;
	margin: 10px auto;
}
.title.center {
	letter-spacing: 3px;
	text-align: center;

}
#information{
	background: #AAA;
}
#information i.fa{
	width: 120px;
	height: 120px;
	font-size: 40px;
	border-radius: 50% !important;
	border:2px solid rgba(255,255,255,.2);
	background: #969696;
	padding:34px 0;
	margin-bottom: 20px;
	margin-top: 20px;
	/*transiton 变换过渡
	动画针对所有内核  所有属性 时间 效果减速*/
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#information .information:hover > i.fa{
	color: #008867;
	/*transform  元素变换
	缩放至原来的1.3倍*/
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}
/*-----------------求职意向---------------*/
#job .image-block{
	display: inline-block;
    vertical-align: middle;/*文字和图片并排*/
    padding-right: 50px;
}
#job .text-block{
    display: inline-block;
    padding-left: 10px;
}
#job .none{
	height: 50px;
}

/*----------------专业技能样式-------------*/

#technology i.fa{
	width: 20px;
	font-size: 20px; 
}
#technology span{
	padding-left: 20px;
}
.card{
	background: #eeeeee;
	height: 250px;
	margin-top: 50px;
	border-radius: 10px;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.card:hover{
	box-shadow: 0 0 50px #ccc;
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	-ms-transform: scale(1.01);
	-o-transform: scale(1.01);
	transform: scale(1.01);
}
.card-body{
	padding: 20px;
}

/*---------------所获荣誉样式----------*/
#honor{
	background: #458B74;
	margin-top:60px;
	text-align: center;
}
#honor .block{
	margin-top: 50px;
}
#honor .image-block{
	display: inline-block;
    vertical-align: middle;/*文字和图片并排*/
}
#honor .text-block{
    display: inline-block;
    width:470px;
    padding-left: 20px;
}
#honor a i.fa{
	font-size: 40px; 
}
.text{
	letter-spacing: 5px;
	font-size: 20px;
}
.oimg{
	padding-left: 100px;
	letter-spacing: 15px;
}
.carousel{
	width: 104%;
	margin-bottom: 70px;
}
.carousel-inner img {
	width: 100%;
	height: 100%;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;    
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
}

/*---------------自我评价样式----------*/
#evaluation {
	background-color: #fff;
	background: linear-gradient(#fff,#548B54);/**/
}
#evaluation .card{
	background: #fff;
	height: 280px;
	margin-top: 50px;
	border-radius: 20px;
	margin-right: -20px;
	border: 0px;
}
#evaluation .cards{
	padding-bottom: 80px;
}
/*---------------联系方式样式----------*/

#contact{
	height: 200px;
	background: url(cont-bg.jpg) no-repeat bottom center;
}
#contact .title.center{
	margin-top: -50px;
	padding-top: 50px;
}
.footer{
	height: 30px;
	padding-top: 100px;
}
#contact i{
	float: right;

}
#contact i.fa{
	font-size:20px;
	letter-spacing: 6px;
}
#contact i.fa:hover{
	color: #008867;
	font-size:25px;
}
#contact a{
	color: black;
}











/*-------------------@media样式---------------*/
/*@media(min-width:768px) {
.navbar-dark {
	padding: 20px 0;
	border-bottom: 0;
	letter-spacing: 1px;
	height:50px;
	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
}
.navbar-nav{
    float: left;
    width: 800px;
}
.navbar-brand{
    font-size:17px;
    font-weight: 700;
    margin-right: 400px;
    padding-left: 150px;
}
.navbar-toggler{
    padding-left: 300px;
    margin-top: 8px;
    margin-right: 15px;
}
.menu{
    padding: 10px;
    font-size:12px;
    font-weight: 700;
}
a{
    color: #AAAAAA;
}
a:hover, a:focus {
	text-decoration: none;
	color: #008867;
}
}

@media(min-width:768px) {
.intro {
	height: 100%;
	padding: 0;
}
.intro .intro-body H1 {
	font-size: 70px;
	font-weight: 700;
	letter-spacing: -2px;
}
.intro .intro-body .intro-text {
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 8px;
	margin-bottom: 50px;
}
}